<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%= title %></title>
</head>
<body>
    <p>Hi</p>
    <a href="">blog link</a>
    <ul>
        <a href="/">Blogs</a>
        <a href="/about">About</a>
        <a href="/blogs/create">Create blog</a>
    </ul>
    <div class="create-blog content">
        <form action="">
            <label for="title">Blog title</label>
            <input type="text" id="title" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>