<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | <%= title %></title>
</head>
<body>
    <!-- <% const name='shobhnik' %> -->
    <p>Hi</p>
    <!-- <p><%= name %></p> -->
    <a href="">blog link</a>
    <ul>
        <a href="/">Blogs</a>
        <a href="/about">About</a>
        <a href="/blogs/create">Create blog</a>
    </ul>
    <div class="blogs content">
        <h2>All blogs</h2>
    </div>
</body>
</html>